{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pedido.css' %}">
    <link rel="stylesheet" href="{% static 'css/confirmacion_orden.css' %}">
    <title>Confirmacion</title>
{% endblock %}

{% block content %}
    <header>
        {% include 'snippets/main_nav.html' %}
    </header>

    <main class="main-confirmation-order">
        {% include 'snippets/mensajes.html' %}
        {% include 'orders/snippets/breadcrumb.html' %}

        <section class="container-confirm-order">
            <h2 class="container-confirm-order__title">
                Confirmacion orden de compra
            </h2>

            <article class="container-information-aditional-confirm-order">
                <div class="container-detail-information-aditional-confirm-order container-detail-information-aditional-confirm-order--padding-top">
                    <p class="container-detail-information-aditional-confirm-order__paragraph">
                        <strong>Método de entrega: </strong> {{orden.type_of_delivery}}
                    </p>
                </div>
            
                {% if orden.type_of_delivery.description != 'Recoge en tienda' %}
                    <div class="container-detail-information-aditional-confirm-order">
                        <p class="container-detail-information-aditional-confirm-order__paragraph">
                            <strong>Direccion de envio: </strong>
                        </p>
                        <ul class="container-list-informacion-address-confirm-order">
                            <li class="container-element-informacion-address-confirm-order">
                                <strong>Ciudad: </strong>{{orden.address.city}}
                            </li>
                            <li class="container-element-informacion-address-confirm-order">
                                <strong>Codigo postal: </strong>{{orden.address.city.zip_code}}
                            </li>
                            <li class="container-element-informacion-address-confirm-order">
                                <strong>Barrio/Localidad: </strong>{{orden.address.neighborhood}}
                            </li>
                            <li class="container-element-informacion-address-confirm-order">
                                <strong>Direccion: </strong>{{orden.address.address}}
                            </li>
                        </ul>
                    </div>
                {% endif %}

                <div class="container-detail-information-aditional-confirm-order container-detail-information-aditional-confirm-order--padding">
                    <p class="container-detail-information-aditional-confirm-order__paragraph">
                        <strong>Método de pago: </strong> {{orden.payment_type}}
                    </p>
                </div>
            </article>

            <article class="container-products-confirm-order">
                <h2 class="container-products-confirm-order__title">
                    Productos
                </h2>
                {% for object in carrito.products_related %}
                    {% with producto=object.product %}
                        <div class="container-detail-product-confirm-order">
                            <img src="{{producto.image}}" alt="{{producto}}" decoding="async" loading="lazy" class="container-detail-product-confirm-order__img">
                            <a href="{% url 'Products:product' producto.slug %}" class="container-detail-product-confirm-order__link">
                                {{producto}}
                            </a>
                            <p class="container-detail-product-confirm-order__paragraph">
                                {{object.quantity}}
                            </p>
                            <p class="container-detail-product-confirm-order__paragraph container-detail-product-confirm-order__paragraph--position">
                                $ {{producto.final_price|intcomma}}
                            </p>
                        </div>
                    {% endwith %}
                {% endfor %}
            </article>
        </section>

        <section class="container-total-resume-order container-total-resume-order--height">
            <h2 class="container-total-resume-order__title">
                Resumen orden de compra
            </h2>
            <p class="container-paragraph-total-resume-order">
                <strong>Costo envio: </strong> $ {{ orden.shipping_total |intcomma }}
            </p> 
            <p class="container-paragraph-total-resume-order">
                <strong>Iva 19%: </strong> $ {{carrito.total_iva|intcomma }}
            </p>  
            <p class="container-paragraph-total-resume-order">
                <strong>Subtotal:</strong> $ {{ carrito.subtotal|intcomma }}
            </p>
            <p class="container-paragraph-total-resume-order container-paragraph-total-resume-order--border">
                <strong>Total:</strong> $ {{ orden.get_total|intcomma }}
            </p> 
            <a href="{% url 'Orders:complete-order' %}" class="container-total-resume-order__btn">
                Confirmar orden de compra
            </a>
            <a href="{% url 'Orders:cancel-order' %}" class="container-total-resume-order__btn container-total-resume-order__btn--color">
                Cancelar orden de compra
            </a>
        </section>

        {% include 'snippets/aside.html' %}
    </main>

    {% include 'snippets/footer.html' %}
{% endblock %}