<footer class="main-footer">
    <p class="container-paragraph-main-footer">
        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
        Calle 45C # 4-10C-75, Barranquilla
    </p>
    <p class="container-paragraph-main-footer">
        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
        3053311851
    </p>
    <p class="container-paragraph-main-footer">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        foxtech.noreply@gmail.com
    </p>

    <p class="main-footer__paragraph">
        &copy; FoxTech-{% now "Y" %}
    </p>
</footer>