{% extends 'snippets/base_mail.html' %}
{% load humanize %}

{% block head %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        * {
            box-sizing: border-box;
        }
        .container-email {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            font-size: .9rem;
        }
        .container-email-header {
            width: 100%;
            height: 95px;
            background-color: #0d2c46;
            padding: .9em;
            padding-left: 1rem;
            box-sizing: border-box;
        }
        .container-image-email-header__img {
            width: 180px;
        }
        .container-email-main {
            background-color: white;
            padding: 1em;
            box-sizing: border-box;
            font-size: .9rem;
        }
        .container-email-main__title {
            margin-top: 0;
            font-size: 1.4rem;
        }
        .container-email-main__paragraph-footer {
            font-size: .9rem;
            text-align: center;
            margin-bottom: 0;
            margin-top: 2.5em;
            color: #0d2c46;
        }
        .container-email-main__paragraph {
            line-height: 1.7em;
        }
        .container-email-main__link {
            display: block;
            width: 150px;
            background-color: #479ECE;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: .5em;
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            -ms-border-radius: .5em;
            -o-border-radius: .5em;
            font-size: .9rem;
            margin-top: 1.9em;
            text-decoration: none;
            margin-bottom: 2.5em;
        }


        @media screen and (min-width: 700px) {
            .container-email-main {
                padding: 1.5em 1.8em;
                font-size: 1rem;
            }
        }
    </style>
    <title>Confirmacion pedido</title>
{% endblock %}

{% block content %}
    <section class="container-email">
        <article class="container-email-header">
            <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{dominio}}{{url}}" class="container-image-email-header" target = "_blank" rel="noopener">    
                <img src="https://res.cloudinary.com/dwlbebx5r/image/upload/v1669770009/Foxtech/logo_fqavdv.png" alt="Logo SaleCold" class="container-image-email-header__img" loading="lazy">
            </a>
        </article>

        <article class="container-email-main">
            <p class="container-email-main__paragraph">
                ¡Hola, {{usuario}}!,
            </p>
            <p class="container-email-main__paragraph">
                {% if tipo_envio == 'Recoge en tienda' and tipo_pago == 'Pago electronico' %}
                    ¡Gracias por comprar en nuestra tienda!, tenemos la informacion de tu pedido, realiza el pago y acercate a la tienda para recibir tus productos, la factura se enviara a tu correo una vez que se confirme el pago.
                {% elif tipo_envio == 'Recoge en tienda' and tipo_pago == 'Efectivo' %}
                    !Gracias por comprar en nuestra tienda!, tenemos la informacion de tu pedido, acercate a la tienda para recibir y pagar tus productos, la factura se enviara a tu correo una vez que se realice el pago.
                {% elif tipo_envio == 'Entrega a domicilio' and tipo_pago == 'Pago electronico' %}
                    !Gracias por comprar en nuestra tienda!, tenemos la informacion de tu pedido, los productos se enviaran a tu domicilio una vez que se confirme el pago, la factura se enviara a tu correo cuando se confirme el pago.
                {% elif tipo_envio == 'Entrega a domicilio' and tipo_pago == 'Efectivo' %}
                    !Gracias por comprar en nuestra tienda!, tenemos la informacion de tu pedido, los productos se enviaran a tu domicilio lo mas pronto posible, la factura se enviara a tu correo una vez que se reciba el pago.
                {% endif %}
            </p>

            <p class="container-email-main__paragraph">
                <span style="color: #256Edc;">Orden: </span>{{orden.identifier}}
            </p>
            <p class="container-email-main__paragraph">
                <span style="color: #256Edc;">Fecha de pedido: </span>{{orden.order_date|date:'d/m/Y'}}
            </p>
            <p class="container-email-main__paragraph">
                <span style="color: #256Edc;">Tipo de entrega: </span>{{orden.type_of_delivery}}
            </p>
            {% if tipo_envio == 'Entrega a domicilio' %}
                <p class="container-email-main__paragraph">
                    <span style="color: #256Edc;">Dirección de entrega: </span>{{orden.address.address}}, {{order.address.city}}
                </p>
            {% endif %}
            <p class="container-email-main__paragraph">
                <span style="color: #256Edc;">Método de pago: </span>{{orden.payment_type}}
            </p>
            <p class="container-email-main__paragraph">
                <span style="color: #256Edc;">Total a pagar: </span>$ {{orden.get_total|intcomma}}
            </p>

            <h2 style="color: #256Edc;font-size: 1.3rem;font-weight: 400;">
                Detalles de tu compra
            </h2>
            <table style="border-collapse: collapse;text-align: center;font-size: .9rem;width: 100%;">
                <thead>
                    <tr style="background-color: #5f95e7; color: white; height: 30px;">
                        <th style="width: 35px;">#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th style="width: 100px;">Precio</th>
                    </tr>
                </thead>
                <tbody style="font-size: .8rem;">
                    {% for object in orden.cart.cartproducts_set.all %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{object.product}}</td>
                            <td>{{object.quantity}}</td>
                            <td>$ {{object.product.final_price|intcomma}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p class="container-email-main__paragraph-footer">© FoxTech 2022</p>
        </article>
    </section>
{% endblock %}