{% extends 'snippets/base_mail.html' %}
{% load humanize %}

{% block head %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        * {
            box-sizing: border-box;
        }
        .container-email {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            font-size: .9rem;
        }
        .container-email-header {
            width: 100%;
            height: 95px;
            background-color: #0d2c46;
            padding: .9em;
            padding-left: 1rem;
            box-sizing: border-box;
        }
        .container-image-email-header__img {
            width: 180px;
        }
        .container-email-main {
            background-color: white;
            padding: 1em;
            box-sizing: border-box;
            font-size: .9rem;
        }
        .container-email-main__title {
            margin-top: 0;
            font-size: 1.4rem;
        }
        .container-email-main__paragraph-footer {
            font-size: .9rem;
            text-align: center;
            margin-bottom: 0;
            margin-top: 2.5em;
            color: #0d2c46;
        }
        .container-email-main__paragraph {
            line-height: 1.7em;
        }
        .container-email-main__link {
            display: block;
            width: 150px;
            background-color: #479ECE;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: .5em;
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            -ms-border-radius: .5em;
            -o-border-radius: .5em;
            font-size: .9rem;
            margin-top: 1.9em;
            text-decoration: none;
            margin-bottom: 2.5em;
        }


        @media screen and (min-width: 700px) {
            .container-email-main {
                padding: 1.5em 1.8em;
                font-size: 1rem;
            }
        }
    </style>
    <title>Confirmacion pedido</title>
{% endblock %}

{% block content %}
    <section class="container-email">
        <article class="container-email-header">
            <a href="{{index}}" class="container-image-email-header" target = "_blank" rel="noopener">    
                <img src="https://res.cloudinary.com/dwlbebx5r/image/upload/v1669770009/Foxtech/logo_fqavdv.png" alt="Logo SaleCold" class="container-image-email-header__img" loading="lazy">
            </a>
        </article>

        <article class="container-email-main">
            <p class="container-email-main__paragraph">
                ¡Hola, {{usuario}}!,
            </p>
            <p class="container-email-main__paragraph">
                Gracias por tu compra, a continuacion te enviamos la factura electronica de tu pedido {{orden.identifier}}, la puedes descargar dando click en el boton "Descargar factura" o desde la seccion mis compras en la opcion mi cuenta.
            </p>

            <a href="{{index}}{{url}}" target="_blank" rel="noopener" class="container-email-main__link" style="color:white;">
                Descargar factura
            </a>

            <p class="container-email-main__paragraph-footer">© FoxTech 2022</p>
        </article>
    </section>
{% endblock %}