{% extends 'snippets/base_mail.html' %}

{% block head %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

        .container-email {
            max-width: 540px;
            margin-right: auto;
            margin-left: auto;
            background-color: white;
        }
        .container-email-header {
            width: 100%;
            height: 95px;
            background-color: #0d2c46;
            padding: .9em;
            padding-left: 1rem;
            box-sizing: border-box;
        }
        .container-image-email-header__img {
            width: 180px;
        }
        .container-email-main {
            background-color: white;
            padding: 1em;
            box-sizing: border-box;
            font-size: .9rem;
        }
        .container-email-main__title {
            margin-top: 0;
        }
        .container-email-main__link {
            display: block;
            width: 165px;
            background-color: #479ECE;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: .5em;
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            -ms-border-radius: .5em;
            -o-border-radius: .5em;
            font-size: .9rem;
            margin-top: 1.9em;
            text-decoration: none;
        }
        .container-email-main__paragraph-footer {
            font-size: .9rem;
            text-align: center;
            margin-bottom: 0;
            margin-top: 2.5em;
            color: #0d2c46;
        }
        .container-email-main__paragraph {
            line-height: 1.7em;
        }

        @media screen and (min-width: 700px) {
            .container-email-main {
                padding: 1.5em 2em;
                font-size: 1rem;
            }
        }
    </style>
    <title>Recuperar contraseña</title>
{% endblock %}

{% block content %}
    <section class="container-email">
        <article class="container-email-header">
            <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{dominio}}{% url 'index' %}" class="container-image-email-header" target="_blank" rel="noopener">    
                <img src="https://res.cloudinary.com/dwlbebx5r/image/upload/v1669770009/Foxtech/logo_fqavdv.png" alt="Logo SaleCold" class="container-image-email-header__img" loading="lazy">
            </a>
        </article>
        <article class="container-email-main">
            <h2 class="container-email-main__title" style="color: #256Edc;font-size: 1.3rem;">Recuperar contraseña</h2>
            <p class="container-email-main__paragraph">
                Hola {{usuario}}, para cambiar la contraseña de clic en el boton "Cambiar contraseña" o pegue la siguiente url en su navegador 
                <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{dominio}}{% url 'password_reset_confirm' uidb64=uuid token=token %}" style="text-decoration: none;" target="_blank" rel="noopener">
                    {% if request.is_secure %}https{% else %}http{% endif %}://{{dominio}}{% url 'password_reset_confirm' uidb64=uuid token=token %}
                </a>
            </p>
            <p class="container-email-main__paragraph">
                Si no realizo la solicitud para recuperar la contraseña, por favor ignore este mensaje.
            </p>
            <h3 style="color: #256Edc;">Consejos de seguridad</h3>
            <ul style="padding: 0;">
                <li>No compartas nunca tu contraseña con otras personas.</li>
                <li>
                    Crea contraseñas difíciles de adivinar y nunca utilices información personal. Asegúrate de incluir mayúsculas, minúsculas, números y símbolos.
                </li>
                <li>
                    Utiliza contraseñas diferentes para cada cuenta que tengas en internet.
                </li>
            </ul>
            <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{dominio}}{% url 'password_reset_confirm' uidb64=uuid token=token %}" class="container-email-main__link" style="color:white;" target="_blank" rel="noopener">
                Cambiar contraseña
            </a>

            <p class="container-email-main__paragraph-footer">© FoxTech 2022</p>
        </article>
    </section>
{% endblock %}