{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pedido.css' %}">
    <title>Orden de compra</title>
{% endblock %}

{% block content %}
    <header>
        {% include 'snippets/main_nav.html' %}
    </header>

    <main class="main-order">

        {% include 'orders/snippets/breadcrumb.html' %}

        <section class="container-resume-products-order">
            <h2 class="main-order__title">Revisa tu orden de compra</h2>
            {% for object in carrito.products_related %}
                {% with producto=object.product %}
                        <article class="container-detail-product-order">
                            <img src="{{producto.image}}" alt="{{producto}}" loading="lazy" decoding="async" class="container-detail-product-order__img">
                            <a href="{% url 'Products:product' producto.slug %}" class="container-detail-product-order__link">
                                {{producto}}
                            </a>
                            <p class="container-detail-product-order__paragraph container-detail-product-order__paragraph--position">
                                {{object.quantity}}
                            </p>
                            <p class="container-detail-product-order__paragraph">
                                $ {{producto.final_price|intcomma}}
                            </p>
                        </article>
                {% endwith %}
            {% endfor %}
        </section>

        <section class="container-total-resume-order">
            <h2 class="container-total-resume-order__title">
                Resumen orden de compra
            </h2>
            <p class="container-paragraph-total-resume-order">
                <strong>Subtotal:</strong> $ {{ carrito.subtotal|intcomma }}
            </p>
            <p class="container-paragraph-total-resume-order">
                <strong>IVA 19%: </strong> $ {{carrito.total_iva|intcomma }}
            </p> 
            <p class="container-paragraph-total-resume-order">
                <strong>Total:</strong> $ {{ carrito.total|intcomma }}
            </p>
            <p class="container-paragraph-total-resume-order container-paragraph-total-resume-order--size">
                <i class="fa-solid fa-truck-fast container-paragraph-total-resume-order__icon" aria-hidden="true"></i>
                El costo del envío no está incluido en el precio
            </p>
            <a href="{% url 'Orders:address' %}" class="container-total-resume-order__link">
                Confirmar orden de compra
            </a>
        </section>

        {% include 'snippets/aside.html' %}
    </main>

    {% include 'snippets/footer.html' %}
{% endblock %}