body {
    padding-top: 3.2em;
}
.container-category {
    padding: 1.9em;
    font-family: var(--font-footer);
}
.container-category__title {
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: 1.4em;
}
.article-product {
    margin-top: 1.4em;
    margin-left: auto;
    margin-right: auto;
}
.container-products-category {
    margin-top: 1em;
    margin-bottom: 1em;
}
.container-filter {
    border: none;
    padding: 0;
    margin-bottom: 2em;
    margin-top: 1.5em;
}
.container-filter__title {
    font-size: 1.2rem;
}
.container-select-category {
    width: 100%;
    height: 43px;
    background-color: transparent;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #000;
    padding-left: 0.5em;
}
.container-select-category--margin {
    margin-bottom: 0;
}

.main-header__form {
    width: 100%;
}

.container-result-search-product {
    font-size: .9rem;
    margin-top: 1em;
}

.container-list-filter-products {
    list-style: none;
    padding: 0;
}

.container-link-filter-products {
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: .7em;
}

.container-link-filter-products__icon {
    margin-right: .5em;
    font-size: 1.2rem;
}

.container-link-filter-products--active {
    color: blue;
}

.container-template-product {
    margin-bottom: 2em;
}

@media screen and (min-width: 600px) {
    .container-template-product {
        margin: 0;
    }
    .container-filter__title {
        margin-top: 0;
    }
}

@media screen and (min-width: 1000px) {
    .main-header__form {
        width: 600px;
    }
}