.main-confirmation-order {
    padding: 1em;
    font-size: .9rem;
}

.container-confirm-order__title, .container-products-confirm-order__title {
    font-size: 1.1rem;
    margin-bottom: 1.2em;
    margin-top: 1.5em;
}

.container-total-resume-order__btn {
    display: block;
    width: 190px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: .9rem;
    text-align: center;
    line-height: 40px;
    margin-top: 1.3em;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    background: #479ECE;
    color: white;
}

.container-total-resume-order__btn--color {
    background: var(--font-color-error);
    background: #3b8eed;
}

.container-detail-product-confirm-order {
    display: grid;
    height: 110px;
    grid-template-columns: 90px 1fr;
    grid-template-rows: repeat(3, 1fr);
    border-radius: .5em;
    background-color: white;
    padding: 1em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    margin-bottom: 1.4em;
    -moz-column-gap: 1em;
         column-gap: 1em;
    font-size: .8rem;
}

.container-detail-product-confirm-order__link {
    display: inline;
    color: black;
    font-weight: bold;
}

.container-detail-product-confirm-order__link:visited {
    color: black;
}

.container-detail-product-confirm-order__paragraph {
    margin: 0;
    align-self: flex-end;
    grid-row: 2;
    grid-column: 2;
    justify-self: flex-end;
}

.container-detail-product-confirm-order__paragraph--position {
    grid-row: 3;
    grid-column: 2;
    color: blue;
}

.container-detail-product-confirm-order__img {
    grid-row: 1 / span 3;
    grid-column: 1;
}

.container-information-aditional-confirm-order {
    background-color: white;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    padding: 1em;
}

.container-paragraph-total-resume-order--border {
    border-bottom: none;
}

.container-detail-information-aditional-confirm-order {
    border-bottom: 1px solid rgba(195, 195, 195, 0.418);
    padding-bottom: .8em;
    padding-top: .8em;
}

.container-detail-information-aditional-confirm-order__paragraph {
    margin: 0;
}

.container-detail-information-aditional-confirm-order--padding {
    padding-bottom: 0;
    border-bottom: none;
}

.container-detail-information-aditional-confirm-order--padding-top {
    padding-top: 0;
}

.container-list-informacion-address-confirm-order {
    padding: 0;
    padding-left: 1em;
    margin-bottom: 0;
}

.container-element-informacion-address-confirm-order {
    margin-bottom: .5em;
}