
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 80%;
    font-size: 0.8rem;
	margin: 0 auto;

    
    
}

th, td{
	padding: 20px;
}

thead{
	background-color: rgba(130, 192, 227, 1);
	border-bottom: solid 5px rgb(39, 129, 181);
	color: black;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: rgba(127, 176, 205, 0.727);;
	color: black;
}