{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/recuperar_contraseña.css' %}">
    <title>Recuperar contraseña</title>
{% endblock %}

{% block content %}
    <header>
        {% include 'snippets/main_nav.html' %}
    </header>
    
    {% include 'snippets/mensajes.html' %}

    <main class="main-reset-password">
        <h2 class="main-reset-password__title">Recuperar contraseña</h2>
        <p class="main-reset-password__paragraph">
            ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.
        </p>

        <form method="POST" class="form-reset-password">
            {% csrf_token %}
            {{form}}
            <button class="form-reset-password__btn">
                Recuperar mi contraseña
            </button>
        </form>
    </main>

    {% include 'snippets/aside.html' %}

    {% include 'snippets/footer.html' %}
{% endblock %}