<li class="container-element-list-options-menu-dashboard-user 
{% if request.path == '/users/update-data-user/' %} container-element-list-options-menu-dashboard-user--active
{% endif %}">
    <a href="{% url 'Users:update-data-user' %}" class="container-link-element-list-options-menu-dashboard-user">
        <i class="fa-solid fa-user-pen container-link-element-list-options-menu-dashboard-user--icon" aria-hidden="true"></i>
        Actualizar datos personales
    </a>
</li>
<li class="container-element-list-options-menu-dashboard-user
{% if request.path == '/users/orders/' %}
    container-element-list-options-menu-dashboard-user--active
{% endif %}">
    <a href="{% url 'Users:orders' %}" class="container-link-element-list-options-menu-dashboard-user">
        <i class="fa-solid fa-truck-fast container-link-element-list-options-menu-dashboard-user--icon" aria-hidden="true"></i>
        Mis pedidos
    </a>
</li>
<li class="container-element-list-options-menu-dashboard-user
{% if request.path == '/users/purchases/' %}
    container-element-list-options-menu-dashboard-user--active
{% endif %}">
    <a href="{% url 'Users:purchases' %}" class="container-link-element-list-options-menu-dashboard-user">
        <i class="fa-solid fa-cart-shopping container-link-element-list-options-menu-dashboard-user--icon" aria-hidden="true"></i>
        Mis compras
    </a>
</li>
<li class="container-element-list-options-menu-dashboard-user
{% if request.path == '/users/addresses/' %}
container-element-list-options-menu-dashboard-user--active
{% endif %}">
    <a href="{% url 'Users:addresses' %}" class="container-link-element-list-options-menu-dashboard-user">
        <i class="fa-solid fa-location-dot container-link-element-list-options-menu-dashboard-user--icon" aria-hidden="true"></i>
        Mis direcciones
    </a>
</li>
<li class="container-element-list-options-menu-dashboard-user 
{% if request.path == '/users/change-password/' %}
    container-element-list-options-menu-dashboard-user--active
{% endif %}">
    <a href="{% url 'Users:change-password' %}" class="container-link-element-list-options-menu-dashboard-user">
        <i class="fa-solid fa-key container-link-element-list-options-menu-dashboard-user--icon" aria-hidden="true"></i>
        Cambiar contraseña
    </a>
</li>
<li class="container-element-list-options-menu-dashboard-user
{% if request.path == '/users/addresses/config/' %}
    container-element-list-options-menu-dashboard-user--active
{% endif %}">
    <a href="{% url 'Users:config-account' %}" class="container-link-element-list-options-menu-dashboard-user">
        <i class="fa-solid fa-gear container-link-element-list-options-menu-dashboard-user--icon" aria-hidden="true"></i>
        Configuracion de la cuenta
    </a>
</li>
<li class="container-element-list-options-menu-dashboard-user">
    <a href="{% url 'Users:logout' %}" class="container-link-element-list-options-menu-dashboard-user">
        <i class="fa-solid fa-power-off container-link-element-list-options-menu-dashboard-user--icon" aria-hidden="true"></i>
        Cerrar sesion
    </a>
</li>