{% extends 'base.html' %}

{% load static %}

{% block head %}
	<meta name="description" content="Consigue respuestos de tecnologia al mejor precio" />
	<meta name="keywords" content="Repuestos y productos de tecnologia">
	<title>FoxTech</title>
{% endblock %}

{% block content %}
	<header class="main-header">
        {% include 'snippets/main_nav.html' %}

        <picture class="container-figure-main-header" id="container-figure-main-header">
            <source srcset="https://res.cloudinary.com/dwlbebx5r/image/upload/v1669767303/Foxtech/fondo_1_cmdgsx.png" media="(min-width: 1000px)" loading='lazy' class="container-figure-main-header__img" alt="Imagen header" decoding="async">

			<source srcset="https://res.cloudinary.com/dwlbebx5r/image/upload/v1669767303/Foxtech/fondo_1_cmdgsx.png" media="(min-width: 600px)" loading='lazy' class="container-figure-main-header__img" alt="Imagen header" decoding="async">
			

			<img src="https://res.cloudinary.com/dwlbebx5r/image/upload/v1669767303/Foxtech/fondo_1_cmdgsx.png" alt="Imagen header" class="container-figure-main-header__img" loading="lazy" decoding="async">
		</picture>

        <div class="container-info-main-header">
			<img src="https://res.cloudinary.com/dwlbebx5r/image/upload/v1669770009/Foxtech/logo_fqavdv.png" alt="Logo header" class="container-logo-main-header__img" >

			<form action="{% url 'Products:search' %}" method="GET" class="main-header__form">
                <div class="container-search-form">
                    <input type="text" name="q" class="container-search-form__input" placeholder="Buscar..." value="{{busqueda}}"/>
                    <button class="container-search-form__btn">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>

			<a href="{% url 'Users:contact' %}" class="container-info-main-header__btn">Conócenos</a>
		</div>
    </header>

	{% include 'snippets/mensajes.html' %}

	<main class="main">

		<section class="section-productos-ofertados glider-contain">
			<h2 class="section-productos-ofertados__title">
				Ofertas de la semana
			</h2>

			<div class="container-products glider">
				{% for producto in productos %}
				<section>
					{% include 'products/snippets/plantillaProducto.html' %}
				</section>
				{% empty %}
					<p>No hay productos relacionados :(</p>
				{% endfor %}
			</div>

			<button aria-label="Previous" class="glider-prev">
				<i class="fa-solid fa-angle-left" aria-hidden="true"></i>
			</button>
			<button aria-label="Next" class="glider-next">
				<i class="fa-solid fa-angle-right" aria-hidden="true"></i>
			</button>
		</section>

		{% for categoria in categorias %}
			<section class="section-productos-ofertados glider-contain">
					<h2 class="section-productos-ofertados__title">
						{{categoria}}
					</h2>
					<div class="container-products glider">
						{% for producto in categoria.products.all %}
							{% if forloop.counter <= 10 %}
								<section>
									{% include 'products/snippets/plantillaProducto.html' %}
								</section>
							{% endif %}
							{% empty %}
								<p>No hay productos relacionados :(</p>
						{% endfor %}
					</div>

				<button aria-label="Previous" class="glider-prev glider-prev{{forloop.counter}}">
					<i class="fa-solid fa-angle-left" aria-hidden="true"></i>
				</button>
				<button aria-label="Next" class="glider-next glider-next{{forloop.counter}}">
					<i class="fa-solid fa-angle-right" aria-hidden="true"></i>
				</button>
			</section>
		{% endfor %}

		{% include 'snippets/aside.html' %}
	</main>

	{% include 'snippets/footer.html' %}

	<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js" defer></script>
	<script src="{% static 'js/sliders.js' %}" defer></script>
{% endblock %}