{% extends 'base.html' %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}" />
	<title>Login</title>
{% endblock %}

{% block content %}
	<header>
		{% include 'snippets/main_nav.html' %}
	</header>

	{% include 'snippets/mensajes.html' %}

	<main class="main-login">
		<article class="container-login">
			<h2 class="container-login__title">Iniciar sesion</h2>
			<form method="POST" class="form-login">

				{% csrf_token %}

				{{formulario.correo}}
				{% if formulario.correo.errors %}
					{{formulario.correo.errors}}
				{% endif %}

				{{formulario.contrasena}}
				{% if formulario.contrasena.errors %}
					{{formulario.contrasena.errors}}
				{% endif %}

				<p class="container-register">
					<a href="{% url 'Users:register' %}" class="container-register__link">
						Crear cuenta
					</a>
					<a href="{% url 'reset_password' %}" class="container-register__link">
						Recuperar contraseña
					</a>
				</p>

				<button class="form-login__btn">Iniciar sesion</button>
			</form>
		</article>

		{% include 'snippets/aside.html' %}
	</main>

	{% include 'snippets/footer.html' %}
{% endblock %}