{% extends 'users/dashboard_usuario/base_dashboard.html' %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/cambiarContrasena.css' %}">
	<title>Cambiar contraseña</title>
{% endblock %}

{% block options_menu %}
    {% include 'users/dashboard_usuario/snippets/menuUser.html' %}
{% endblock %}

{% block content %}
	<h2 class="container-main-dashboard-user__title">Cambiar contraseña</h2>

	<form method="POST" class="form-contraseña">
		{% csrf_token %}

		<label class="container-label-form-contraseña">
			Nueva contraseña
			{{formulario.contrasena}}
			{% if formulario.contrasena.errors %}
				{{formulario.contrasena.errors}}
			{% endif %}
		</label>

		<label class="container-label-form-contraseña">
			Repetir nueva contraseña
			{{formulario.contrasena2}}
			{% if formulario.contrasena2.errors %}
				{{formulario.contrasena2.errors}}
			{% endif %}
		</label>

		<button class="form-contraseña__btn">Cambiar contraseña</button>
	</form>
{% endblock %}