{% extends 'users/dashboard_usuario/base_dashboard.html' %}

{% load static %}
{% load humanize %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/comprasUsuario.css' %}">
	<title>Compras</title>
{% endblock %}

{% block options_menu %}
    {% include 'users/dashboard_usuario/snippets/menuUser.html' %}
{% endblock %}

{% block content %}
	<h2 class="container-main-dashboard-user__title">Compras</h2>

    <table style="text-align: center;">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha compra</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Factura</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>
                        <a href="{% url 'Users:detail-purchase' compra.number_accounting_document %}">
                            {{forloop.counter}}
                        </a>
                    </td>
                    <td>{{compra.accounting_document_date|date:'d/m/Y'}}</td>
                    <td>{{compra.order.get_total_quantity_products}}</td>
                    <td>$ {{compra.order.get_total|intcomma}}</td>
                    <td>
                        <a href="{% url 'Orders:download-bill' compra.number_accounting_document %}" title="Descargar factura" target = "_blank" rel="noopener">
                            <i class="fa-solid fa-file-pdf" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No tiene compras relacionadas hasta el momento</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}