{% extends 'users/dashboard_usuario/base_dashboard.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/estilosBaseDireccion.css' %}">
	<link rel="stylesheet" href="{% static 'css/editarDireccionesUsuario.css' %}">
	<title>Direcciones</title>
{% endblock %}

{% block options_menu %}
    {% include 'users/dashboard_usuario/snippets/menuUser.html' %}
{% endblock %}

{% block content %}
	<h2 class="container-main-dashboard-user__title">Editar direccion</h2>

    <form method="POST" class="container-form-address-user container-form-address-user--margin-left">
        {% csrf_token %}

        {% include 'users/dashboard_usuario/snippets/formularioDIreccionesUsuario.html' %}

        <button class="container-form-address-user__btn">
            Actualizar direccion
        </button>
    </form>
{% endblock %}