{% extends 'users/dashboard_usuario/base_dashboard.html' %}

{% load static %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pedidosUsuario.css' %}">
	<title>Pedidos</title>
{% endblock %}

{% block options_menu %}
    {% include 'users/dashboard_usuario/snippets/menuUser.html' %}
{% endblock %}

{% block content %}
	<h2 class="container-main-dashboard-user__title">Pedidos</h2>

    <section>
        <table style="text-align: center;"> 
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>
                            <a href="{% url 'Users:detail-order' pedido.id_order %}">
                                {{forloop.counter}}
                            </a>
                        </td>
                        <td>{{pedido.order_date|date:'j/n/Y'}}</td>
                        <td>{{pedido.get_total_quantity_products}}</td>
                        <td>$ {{pedido.total|intcomma}}</td>
                        <td>{{pedido.state}}</td>
                        {% if pedido.state != 'Cancelado' %}
                            <td>
                                <a href="{% url 'Users:cancel-order' pedido.identifier %}" title="Descargar factura">
                                    Cancelar pedido
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td>No tiene pedidos relacionados</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}