body {
    padding-top: 4em;
}

.container-paragraph-total-resume-order--border {
    border-bottom: none;
}

.container-type-of-payment-order__title {
    font-size: 1.1rem;
    margin-bottom: 1.3em;
    margin-top: 1.3em;
}

.main-payment-order {
    padding: .5em 1em;
    font-size: .9rem;
}

.container-total-resume-order {
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.container-label-type-of-payment-order {
    display: block;
    height: 47px;
    background-color: white;
    margin-bottom: 1.2em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    line-height: 44px;
    padding-left: .8em;
}

.container-label-type-of-payment-order__input {
    margin-right: .4em;
}

.form-type-of-payment-order__btn {
    display: block;
    width: 198px;
    height: 40px;
    line-height: 40px;
    background: #479ECE;
    color: white;
    margin-top: 2.3em;
    text-align: center;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    font-size: .9rem;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    border: none;
}