:root {
    --font: 'Poppins', sans-serif;
    --bgcolor-header: #0d2c46;
    --bgcolor-main: white;
    --font-color: black;
    --font-color-error: #d83240;
    --font-color-success: #05a081;
    --bgcolor-input-form: #e8f0fe;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font);
    background-color: var(--bgcolor-main);
}

.main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: var(--bgcolor-header);
    font-size: .9rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.container-logo-main-menu {
    display: flex;
    align-items: center;
    gap: .9em;
    padding-left: 1.1em;
}

.container-login-main-menu {
    display: flex;
    align-items: center;
    padding-right: 1.1em;
    gap: .8em;
    color: white;
}

.container-categories-main-menu__icon {
    cursor: pointer;
    font-size: 1.6rem;
    color: white;
}

.container-list-categories-main-menu {
    width: 265px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    padding: 0;
    list-style: none;
    margin: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    border-end-end-radius: .5em;
    border-top-right-radius: .5em;
    overflow: hidden;
}

.container-list-categories-main-menu--show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.container-element-list-categories-main-menu {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: .9rem;
    background-color: rgba(214, 214, 214, 0.671);
    font-weight: 500;
}

.container-element-list-categories-main-menu:hover {
    background-color: rgba(161, 161, 161, 0.929);
}

.container-link-element-categories-main-menu {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgb(0, 0, 0);
}

.container-link-element-categories-main-menu:visited {
    color: rgb(0, 0, 0);
}

.container-link-element-categories-main-menu__icon {
    margin-right: .5em;
}

.container-link-element-categories-main-menu__arrow {
    margin-left: auto;
}

.container-login-main-menu__link, .container-link-main-menu {
    color: white;
}

.container-link-main-menu {
    position: relative;
    margin-right: .5em;
}

.container-link-main-menu__quantity-products {
    position: absolute;
    top: 1em;
    left: 1.5em;
    margin: 0;
    font-size: .9rem;
}

.container-link-main-menu__icon {
    font-size: 1.4em;
}

.container-link-logo-main-menu__img {
    width: 100px;
}

.container-user-main-menu {
    display: flex;
    align-items: center;
}

.container-user-main-menu__icon {
    cursor: pointer;
    margin-left: .3em;
    font-size: 1.3rem;
}

.container-options-user-main-menu {
    display: none;
    width: 160px;
    top: 60px;
    right: 0;
    list-style: none;
    position: absolute;
    background-color: white;
    margin: 0;
    padding: 0;
    border-end-start-radius: .5em;
    border-start-start-radius: .5em;
    overflow: hidden;
}

.container-options-user-main-menu--show {
    display: block;
}

.container-element-option-user-main-menu {
    font-size: .9rem;
    height: 50px;
    padding-left: 1em;
    background-color:  rgba(214, 214, 214, 0.671);
}

.container-element-option-user-main-menu:hover {
    background-color: rgba(161, 161, 161, 0.929);
}

.container-link-elemento-option-user-main-menu {
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(0, 0, 0);
    
}

.container-link-elemento-option-user-main-menu:visited {
    color: rgb(0, 0, 0);
}

.container-link-elemento-option-user-main-menu__icon {
    margin-right: .5em;
}   

.container-figure-main-header {
    display: block;
    height: 370px;
}

.container-figure-main-header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header {
    position: relative;
}

.container-info-main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 0;
    color: #fff;
    text-shadow: 10px 14px 19px rgba(2, 2, 2, 0.774);
}

.container-info-main-header__title {
    font-size: 1.8rem;
    margin: 0;
}

.container-info-main-header__btn {
    background-color: #479ECE;
    font-size: .9rem;
    color: white;
    font-weight: 500;
    width: 110px;
    height: 42px;
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
    box-shadow: 10px 14px 19px rgba(2, 2, 2, 0.774);
    line-height: 42px;
    text-align: center;
}

.main-header__form{
    width: 80%;
}

.container-search-form__input {
    display: block;
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0.801);
}

.container-search-form {
    position: relative;
}

.container-search-form__btn {
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    right: .5em;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: rgba(180, 180, 180, 0.801);
    cursor: pointer;
}

.container-logo-main-header__img{
    width: 610px;
    /* margin-bottom: -100px; */
    margin-top: -100px;
}

/* ------------------------------ESTILOS DEL MAIN------------------------------ */
.container-main-aside {
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: fixed;
    bottom: 180px;
    right: .8em;
}

.container-link-main-aside__icon {
    font-size: 1.6rem;
    color: black;
}

.container-section-category {
    margin-top: 3em;
}

.container-main {
    padding: 3em;
}

.container-section-category__title {
    margin-top: 8em;
    text-align: end;
    border-bottom: 3px solid white;
    padding-bottom: 8.6em;
    font-size: 1.3rem;
}

.container-template-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 230px;
    background-color: white;
    height: 330px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    padding: 1.3em;
    margin-top: 0;
    font-size: .9rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px solid rgba(128, 128, 128, 0.582); */
}

.container-template-product:hover {
    box-shadow: 2px 2px 12px #000;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.container-image-template-product {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container-image-template-product__img {
    width: 220px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.container-template-product__discount {
    position: absolute;
    top: .8em;
    right: .8em;
    font-size: 1.2rem;
    color: rgb(255, 0, 0);
    margin: 0;
}

.container-btn-template-product {
    width: 100%;
    color: white;
    background-color: #479ECE;
    height: 40px;
    border: none;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    margin: 0;
    cursor: pointer;
}

.container-btn-template-product__icon {
    margin-right: .3em;
}

.container-template-product__title {
    font-weight: 600;
    margin: 0;
    text-align: center;
    line-height: 1.5em;
}

.container-price-template-product {
    color: rgb(0, 0, 0);
    text-align: end;
}

.container-price-template-product__span {
    color: rgba(44, 43, 43, 0.563);
    text-decoration: line-through;
    margin-left: .7em;
    font-weight: 700;
}

.container-pagination-products {
    height: 40px;
    margin-top: 2em;
}
.container-list-pagination-products {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    padding: 0;
    font-size: .9rem;
}
.container-element-list-pagination-products {
    width: 35px;
    height: 100%;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
}

.container-element-list-pagination-products__paragraph {
    margin: 0;
    color: rgb(0, 0, 0);
    line-height: 40px;
}

.container-element-list-pagination-products--width {
    width: 80px;
}
.container-element-list-pagination-products__link {
    color: rgb(0, 0, 0);
    line-height: 40px;
}
.container-element-list-pagination-products--active {
    background-color: rgb(0, 0, 0);
    border: none;
}
.container-element-list-pagination-products__link--active {
    color: white;
}
.container-element-list-pagination-products__link--deactivate {
    cursor: default;
    pointer-events: none;
    color: gray;
}

.errorlist {
    color: var(--font-color-error);
    padding: 0;
    list-style: none;
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: .5em;
}

.main {
    padding: 1em;
    padding-bottom: 1em;
}

.container-breadcrumb {
    width: 100%;
    height: 45px;
    background-color: #e9ecef;
    font-size: .8rem;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    line-height: 45px;
}

.container-list-breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    height: inherit;
    align-items: center;
    justify-content: center;
    -moz-column-gap: .4em;
         column-gap: .4em;
    color: #6c757d;
    pointer-events: none;
}

.container-element-list-breadcrumb__link {
    margin-right: .4em;
    color: inherit;
}

.container-element-list-breadcrumb__link--active {
    color: #0056b3;
    pointer-events: all;
}

.container-element-list-breadcrumb__link--margin {
    margin-right: 0;
}

.section-productos-ofertados {
    display: block;
    width: 90%;
    margin-bottom: 0;
    position: relative;
}

.glider { 
    height: inherit;
}

.container-products {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .9em;
    height: 370px;
    overflow: hidden;
    position: relative;
}

.container-template-product {
    flex-shrink: 0;
}

.section-productos-ofertados__title {
    margin-bottom: .4em;
    font-size: 1.2rem;
}

.glider-prev, .glider-next {
    position: absolute;
    top: 50%;
}

.glider-prev {
    left: -.3em;
}

.glider-next {
    right: -.3em;
}

/* ------------------------------ESTILOS DEL FOOTER------------------------------ */
.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 155px;
    background-color: var(--bgcolor-header);
    margin-top: auto;
    text-align: center;
    font-size: 1rem;
    padding: 1.2em .3em;
}

.container-paragraph-main-footer, .main-footer__paragraph {
    margin: 0;
    color: white;
}

/* ------------------------------MEDIA QUERIES------------------------------ */
@media screen and (min-width: 370px) {
    .container-list-breadcrumb {
        justify-content: flex-start;
        padding-left: 1em;
        font-size: .9rem;
    }
}
@media screen and (min-width: 400px) {
    .main-header__form {
        max-width: 70%;
    }
    .modal {
        max-width: 400px;
    }
    .main-product {
        padding: 1.8em;
    }
    .glider-prev {
        left: 1em;
    }
    .glider-next {
        right: 1em;
    }
    .section-productos-ofertados__title {
        text-align: end;
    }
}

/* ------------------------------ESTILOS PRELOAD DEL APLICATIVO------------------------------ */
.preload {
    width: 58px;
    height: 58px;
    margin-bottom: 0.5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid rgba(230, 230, 230, 0.753);
    animation: girar 1.4s linear infinite;
    position: relative;
    border-top: 4px solid blue;
    -webkit-animation: girar 1.4s linear infinite;
}
@-webkit-keyframes girar {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@keyframes girar {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
.container-preload {
    display: none;
    background-color: #fff;
}
.container-preload--show {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
}
.container-preload__img {
    width: 120px;
    margin-bottom: 1.4em;
}
.preload-hidden{
    overflow: hidden;
}

/* ------------------------------ESTILOS DE LA VENTANA MODAL------------------------------ */
.container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.589);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
}

.container-modal--hidden {
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1em;
    background-color: #fff;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    position: relative;
}

.modal__icon {
    position: absolute;
    right: .5em;
    font-size: 1.8rem;
}

.modal__icon, .modal__btn {
    cursor: pointer;
}

.modal__btn {
    width: 100px;
    height: 45px;
    background-color: var(--font-color-success);
    color: white;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    border: none;
    font-size: 1rem;
    align-self: center;
}

.modal__btn--error {
    background-color: var(--font-color-error);
}

.modal__btn--info {
    background-color: #479ECE;
}

.modal__paragraph {
    line-height: 1.7em;
    text-align: center;
}

.modal__img {
    width: 80px;
    align-self: center;
}