{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/categoria.css' %}">
    <title>{{categoria.name}}</title>
{% endblock %}

{% block content %}
    <header>
        {% include 'snippets/main_nav.html' %}
    </header>

    {% include 'snippets/mensajes.html' %}

    <main class="container-category">
        <h2 class="container-category__title">{{categoria.name}}</h2>

        <form method="GET" class="main-header__form">
            <div class="container-search-form">
                <input type="text" name="q" class="container-search-form__input" placeholder="Buscar..." value="{{parametro_busqueda}}"/>
                <button class="container-search-form__btn">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>

        {% if request.GET.q %}
            <p class="container-result-search-product">
                {% if cantidad_productos == 1 %}
                    Se encontro {{cantidad_productos}} resultado para: {{parametro_busqueda}}
                {% elif cantidad_productos == 0 %}
                    No se encontraron resultados para: {{parametro_busqueda}}
                {% else %}
                    Se encontraron {{cantidad_productos}} resultados para: {{parametro_busqueda}}
                {% endif %}
            </p>
        {% endif %}

        <section class="container-order-and-products-category">
            {% include 'products/snippets/ordenarProductos.html' %}

            <section class="container-products-category">
                {% for producto in productos %}
                    {% include 'products/snippets/plantillaProducto.html' %}
                {% endfor %}
            </section>
        </section>

        {% include 'products/snippets/paginacionProductos.html' %}

        {% include 'snippets/aside.html' %}
    </main>

    {% include 'snippets/footer.html' %}
{% endblock %}